# =========================
# GERAL
# =========================
TZ=
LANGUAGE=

# starchats
RAILS_ENV=
NODE_ENV=

# Imagens
STARCHATS_IMAGE=
EVOLUTION_IMAGE=

# =========================
# SEGREDOS
# =========================
# Evolution
AUTHENTICATION_API_KEY=
# Starchats
SECRET_KEY_BASE=

# =========================
# DATABASE 
# =========================
# Host/User/Pass unificados para simplicidade, embora DB name possa mudar
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
STARCHATS_PG_DB=
EVOLUTION_PG_DB=
EVOLUTION_PG_SCHEMA=

# =========================
# DATABASE STARCHATS
# =========================

# =========================
# DATABASE EVOLUTION
# =========================
DATABASE_ENABLED=
DATABASE_PROVIDER=

# =========================
# REDIS 
# =========================
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
STARCHATS_REDIS_DB=
EVOLUTION_REDIS_DB=
CACHE_REDIS_ENABLED=
CACHE_REDIS_PREFIX_KEY=

# =========================
# RABBITMQ (Configuração e Eventos)
# =========================
RABBIT_USER=
RABBIT_PASS=
RABBIT_HOST=
RABBIT_PORT=
RABBIT_VHOST=
RABBIT_DEFAULT_VHOST=
RABBITMQ_ENABLED=
RABBITMQ_EXCHANGE_NAME=
RABBITMQ_GLOBAL_ENABLED=
RABBITMQ_EVENTS_QRCODE_UPDATED=
RABBITMQ_EVENTS_MESSAGES_UPSERT=
RABBITMQ_EVENTS_CONNECTION_UPDATE=
RABBITMQ_EVENTS_SEND_MESSAGE=
RABBITMQ_EVENTS_CONTACTS_SET=
RABBITMQ_EVENTS_CONTACTS_UPDATE=

# =========================
# STARCHATS CONFIGS
# =========================
FRONTEND_URL=
FORCE_SSL=
ENABLE_ACCOUNT_SIGNUP=
RAILS_MAX_THREADS=

# =========================
# STARCHATS CONFIGS STORAGE
# =========================
ACTIVE_STORAGE_SERVICE=
STORAGE_ACCESS_KEY_ID=
STORAGE_BUCKET_NAME=
STORAGE_ENDPOINT=
STORAGE_FORCE_PATH_STYLE=
STORAGE_REGION=
STORAGE_SECRET_ACCESS_KEY=
AWS_REGION=
S3_BUCKET_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# =========================
# STARCHATS CONFIGS SMTP
# =========================
MAILER_SENDER_EMAIL=
SMTP_ADDRESS=
SMTP_AUTHENTICATION=
SMTP_DOMAIN=
SMTP_ENABLE_STARTTLS_AUTO=
SMTP_OPENSSL_VERIFY_MODE=
SMTP_PASSWORD=
SMTP_PORT=
SMTP_USERNAME=

# =========================
# EVOLUTION CONFIGS
# =========================
AUTHENTICATION_EXPOSE_IN_FETCH_INSTANCES=
CONFIG_SESSION_PHONE_CLIENT=
CONFIG_SESSION_PHONE_NAME=
QRCODE_LIMIT=
QRCODE_COLOR=

# =========================
# EVOLUTION CONFIGS DATABASE
# =========================
DATABASE_CONNECTION_CLIENT_NAME=
DATABASE_SAVE_DATA_INSTANCE=
DATABASE_SAVE_DATA_NEW_MESSAGE=
DATABASE_SAVE_MESSAGE_UPDATE=
DATABASE_SAVE_DATA_CONTACTS=
DATABASE_SAVE_DATA_CHATS=
DATABASE_SAVE_DATA_LABELS=
DATABASE_SAVE_DATA_HISTORIC=

# =========================
# CONFIGS Evolution > Starchats
# =========================
EVOLUTION_BASE_URL=
EVOLUTION_AUDIO_ENCODING=
EVOLUTION_AUDIO_PRESENCE=
EVOLUTION_HTTP_OPEN_TIMEOUT=
EVOLUTION_HTTP_READ_TIMEOUT=
EVOLUTION_HTTP_WRITE_TIMEOUT=
EVOLUTION_MEDIA_URL_TTL_SECONDS=

# =========================
# TIKTOK
# =========================
TIKTOK_APP_ID=
TIKTOK_APP_SECRET=
TIKTOK_API_VERSION=v1.3

# =========================
# SHOPIFY
# =========================
SHOPIFY_CLIENT_ID=
SHOPIFY_CLIENT_SECRET=
